<?xml version="1.0" encoding="utf-8"?>
<Credentials>
  <Credential id="ValidCredentials" Username="gunjan.ranparia@marutitech.com" Password="123456" />
  <Credential id="InValidCredentials" Username="gunjan.rapnaria@mrutitech.com" Password="1234567" />
  <Credential id="ValidUserNameInvalidPassword" Username="gunjan.ranparia@marutitech.com" Password="1234567" />
  <Credential id="ValidPasswordInvalidUsername" Username="gunjan.rapnaria@mrutitech.com" Password="123456" />
</Credentials>